<ion-header>
  <ion-toolbar>
    <ion-title>Voltaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>VOLTAJE</ion-card-subtitle>
    </ion-card-header>
    <img src="assets/img/4.jpeg"/>
    <ion-card-content>
      Voltaje se define como la cantidad de energía potencial 
      entre dos puntos de un circuito. Uno punto tiene más carga
      que otro. La diferencia de carga entre los puntos se llama voltaje
    </ion-card-content>
  </ion-card>
</ion-content>
