<ion-header>
  <ion-toolbar>
    <ion-title>Corriente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    La corriente es el flujo de carga electrica que recorre un material,en otro terminos es el flujo de electrones que pasa por un punto de un circuito electrico completo.
    su unidad de medida es el amperio (A) un amperio significa un culombio de electrones que equivale a 6.24 trillones de electrones que pasa por un cricuito en 1 segundo.
  </ion-card-content>
  <ion-card-content>
    <img src="assets/img/ohm1.jpeg"/>
    A continuacion se realizacionan algunas de las formulas utilizadas 
    para encontrar cada valor de la ley de ohm.
  </ion-card-content>
  <ion-card-content>
    VOLTAJE(V)=      CORRIENTE X RESISTENCIA
    CORRIENTE(I)=    VOLTAJE/RESISTENCIA
    RESISTENCIA(R)=  VOLTAJE/CORRIENTE
    </ion-card-content>
  <ion-card-content>
  EJERCICIOS
</ion-card-content>
<ion-card-content>
  1)Si tenemos un electrodomestico cuyo voltaje es de 120v y su resistencia es de 40 ohmios. ¿Cuál es la intensidad de la corriente?
 </ion-card-content>
  <ion-item>
    <ion-label>R=</ion-label>
    <ion-select class="custom-options" interface="popover">
      <ion-select-option value="brown" class="brown-option">1A</ion-select-option>
      <ion-select-option value="blonde">2A</ion-select-option>
      <ion-select-option value="black">3A</ion-select-option>
      <ion-select-option value="red">4A</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-card-content>
  2)Calcula la intensidad de la corriente que alimenta a una lavadora de juguete que tiene una resistencia de 10 ohmios y funciona con una batería con una diferencia de potencial de 30 V
  R=10ohm
  v=10v
  i=?
  <img src="assets/img/ejercicio2.jpg"/>
  </ion-card-content>
  <ion-item>
    <ion-label>R=</ion-label>
    <ion-select class="custom-options" interface="popover">
      <ion-select-option value="brown" class="brown-option">1A</ion-select-option>
      <ion-select-option value="blonde">2A</ion-select-option>
      <ion-select-option value="black">3A</ion-select-option>
      <ion-select-option value="red">4A</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-card-content>
    3)Calcula el voltaje, entre dos puntos del circuito de una plancha, por el que atraviesa una corriente de 4 amperios y presenta una resistencia de 10 ohmios
   </ion-card-content>
    <ion-item>
      <ion-label>R=</ion-label>
      <ion-select class="custom-options" interface="popover">
        <ion-select-option value="brown" class="brown-option">10v</ion-select-option>
        <ion-select-option value="blonde">20v</ion-select-option>
        <ion-select-option value="black">30v</ion-select-option>
        <ion-select-option value="red">40v</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-card-content>
      4) Calcula la resistencia atravesada por una corriente con una intensidad de 5 amperios y una diferencia de potencial de 11 voltios.
      <img src="assets/img/ejercicio3res.jpg"/> 
    </ion-card-content>
    <ion-item>
      <ion-label>R=</ion-label>
      <ion-select class="custom-options" interface="popover">
        <ion-select-option value="brown" class="brown-option">2.2 ohm</ion-select-option>
        <ion-select-option value="blonde">3 ohm</ion-select-option>
        <ion-select-option value="black">3.2 ohm</ion-select-option>
        <ion-select-option value="red">4 ohm</ion-select-option>
      </ion-select>
    </ion-item>
</ion-content>
