<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu Game</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item-group>
          <ion-item-divider>
            <ion-label>Nivel 1</ion-label>
          </ion-item-divider>
          <ion-item href="/nivel-1/codigo-de-colores">
            <ion-label>Codigo de Resistencias</ion-label>
            <ion-checkbox color="secondary" slot="end"></ion-checkbox>
          </ion-item>
        </ion-item-group>
        <ion-item-group>
          <ion-item-divider>
            <ion-label>Nivel 2</ion-label>
          </ion-item-divider>
          <ion-item>
            <ion-label>Ley de Ohm</ion-label>
            <ion-checkbox color="primary" slot="end"></ion-checkbox>
          </ion-item>
        </ion-item-group>
        <ion-item-divider>
          <ion-label>Nivel 3</ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-label>Circuitos en serie</ion-label>
          <ion-checkbox color="primary" slot="end"></ion-checkbox>
        </ion-item>
        <ion-item-divider>
          <ion-label>Nivel 4</ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-label>Circuitos en paralelo </ion-label>
          <ion-checkbox color="primary" slot="end"></ion-checkbox>
        </ion-item>
        <ion-item-divider>
          <ion-label>Nivel 5</ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-label>Circuitos serie-paralelo</ion-label>
          <ion-checkbox color="primary" slot="end"></ion-checkbox>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
