<ion-header>
  <ion-toolbar>
    <ion-title>Circuitos en paralelo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
    Cuando dos o mas componentes se conectan a traves de una fuente de voltaje,forman un circuito en paralelo.
    cada trayectoria recibe el nombre de rama y por ella circula una corriente de determinado valor.por tanto
    los circuitos en paralelo tienen un voltaje comun a traves de todas las ramas pero las corrientes que circularan a lo largo 
    de ellas son,en general,diferentes.Estas caracteristicas son opuestas a las de los circuitos en serie que tienen  una corriente 
    en comun pero ,en general diferentes caidas de voltaje en sus elementos.
   </ion-card-content>
   <ion-card-content>
    A continuacion mostraremos un grafico mas explicativo
    <img src="assets/img/paralelo1.jpeg"/>
  </ion-card-content>
  <ion-card-content>
    EJERCICIOS
  </ion-card-content>
  <ion-card-content>
    1)se tiene un circuito en paralelo con las siguientes resistencipas R1=2 Ohm,R2=4 ohm,R3=5 ohm,cual es la resistencia total
    <img src="assets/img/paralelo2.jpg"/> 
  </ion-card-content>
    <ion-item>
      <ion-label>R=</ion-label>
      <ion-select class="custom-options" interface="popover">
        <ion-select-option value="brown" class="brown-option">1030 ohm</ion-select-option>
        <ion-select-option value="blonde">1000 ohm</ion-select-option>
        <ion-select-option value="black">1050 ohm </ion-select-option>
        <ion-select-option value="red">1040 ohm </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-card-content>
      2)si se conectan tres lamparas led en paralelo cuyas resistencias son de R1=6 ohm,R2=4 ohm,R3=12 ohm .calcule la resistencia total.
      <img src="assets/img/paralelo3.jpg"/> 
    </ion-card-content>
    <ion-item>
      <ion-label>R=</ion-label>
      <ion-select class="custom-options" interface="popover">
        <ion-select-option value="brown" class="brown-option">2 ohm</ion-select-option>
        <ion-select-option value="blonde">3 ohm</ion-select-option>
        <ion-select-option value="black">4 ohm </ion-select-option>
        <ion-select-option value="red">5 ohm </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-card-content>
    </ion-card-content>