<ion-header>
  <ion-toolbar>
    <ion-title>Circuitos en serie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-content>
   Cuando los componentes de un circuito se conectan en un orden sucesivo,uno detras de otro,forman un circuito en serie.
   por ejemplo,si se conectan dos resistores R1 y R2 en serie con una bateria,entonces existe una sola trayectoria para el flujo de electrones.
   por lo tanto,la corriente I es la misma en todos los componentes de un cricuito en serie
  </ion-card-content>
  <ion-card-content>
    A continuacion mostraremos un grafico mas explicativo
    <img src="assets/img/serie1.jpeg"/>
  </ion-card-content>
  <ion-card-content>
  EJERCICIOS
</ion-card-content>
<ion-card-content>
  1)Dos resistencias R1 y R2  de 5ohm cada una ,se conectan en serie con otra R3 de 10 Ohm ¿cual es el valor de RT?
 </ion-card-content>
  <ion-item>
    <ion-label>R=</ion-label>
    <ion-select class="custom-options" interface="popover">
      <ion-select-option value="brown" class="brown-option">5 ohm</ion-select-option>
      <ion-select-option value="blonde">6 ohm</ion-select-option>
      <ion-select-option value="black">10 ohm </ion-select-option>
      <ion-select-option value="red">11 ohm </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-card-content>
  2)se tiene un circuito en serie con tres resistencias r1=10 ohm,R2=5 ohm,R3=15 ohm ,encuentre la resistencia total.
  <img src="assets/img/resserie1.jpg"/>
  </ion-card-content>
  <ion-item>
    <ion-label>R=</ion-label>
    <ion-select class="custom-options" interface="popover">
      <ion-select-option value="brown" class="brown-option">25 ohm</ion-select-option>
      <ion-select-option value="blonde">28 ohm</ion-select-option>
      <ion-select-option value="black">30 ohm</ion-select-option>
      <ion-select-option value="red">31 ohm </ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>
